@import 'button';

$form-input-background: linear-gradient(to top, transparent, rgba(color(black), .03)) !default;
$form-input-background-color: color(white) !default;
$form-input-border-color: darken(color(white), 10%) !default;
$form-input-border-color-focused: color(border, dark) !default;
$form-input-disabled-bg: rgba(255, 255, 255, 0) !default;
$form-input-height: $button-small-height !default;
$form-input-padding: $form-input-height - $base-font-size !default;
$form-input-shadow-color: rgba(color(black), .08) !default;
$form-input-text-color: color(text, small) !default;
$form-input-disabled-text-color: lighten($form-input-text-color, 20%) !default;

$form-multi-checkbox-option-checked-background: color(info, light);
$form-multi-checkbox-option-checked-color: color(info, dark);

// $include-html-paint-form: true !default;

@mixin form($with-border: $form-with-border) {
  @extend %grid-column-12;

  padding: 0 !important;

  @if $with-border {
    background-color: color(border, light);
    border: solid 1px color(border);
    border-radius: $global-radius;
  }
}

@mixin form-field() {
  min-height: $form-input-height * 2.5;

  &#{$form-field-with-errors} {
    #{$form-field-error-selector} {
      color: color(alert);
      font-size: $small-font-size;
      line-height: $form-input-height / 2;
      padding-left: $column-gutter / 2;
    }

    input,
    textarea,
    &#{$form-select-selector} > div {
      border-color: color(alert, light);
      transition: border-color $global-transition-duration / 2 linear;
    }
  }
}


@mixin form-input() {
  @include form-input-shared-properties;

  font-size: $base-font-size;
  line-height: $form-input-height;
  height: $form-input-height;
  margin-bottom: 0;
  padding: 0 $form-input-padding / 2;
  width: 100%;

  &::-webkit-input-placeholder {
    color: lighten($form-input-text-color, 20%);
  }
}


@mixin form-input-disabled() {
  background-color: $form-input-disabled-bg;
  cursor: not-allowed;
  color: $form-input-disabled-text-color;
}

@mixin form-input-shared-properties() {
  background-image: $form-input-background;
  border: 1px solid;
  border-color: $form-input-border-color darken($form-input-border-color, 5%);
  border-radius: $global-radius;
  box-shadow: 0 1px 1px $form-input-shadow-color;
  color: $form-input-text-color;
  height: auto;
  text-shadow: 0 1px color(white);

  &:hover {
    box-shadow: 0 1px 2px rgba(color(black), .1);
  }

  &:focus,
  > *:focus, {
    background-color: color(white);
    background-image: none;
    outline: none;
  }

  &:disabled,
  &[disabled],
  &[readonly] {
    @include form-input-disabled;
  }
}

